footer {
    width: 100%;
    height: 300px;
    @include flex-footer;
    background-color: $primaryColor;
    color: $terciaryColor;

    .footer__logotype {
        @extend %center;
        margin-bottom: 60px;

        .footer__pleft {
            margin-left: 50px;
            width: 300px;
        }
    }
    
    .footer__title, .footer__logo{
        width: 220px;
        padding: 10px;
        margin-left: 35px;
    }

    .footer__links {    
        @extend %center;
        margin-right: 50px;

        .h3__footer {
            font-size: $fonth3;
            overflow-y: hidden;
        }
        .footer__link, .footer__a {
            list-style: none;
            display: block;
            flex-direction: column;
            color: $terciaryColor;
            font-size: $fontLinkF;
            align-items: center;
            padding: 0px;

            &:hover {
                transition: all 300ms;
                color: $secondaryColor;
            }
        }
    }

    .footer__icons{
        font-size: 12px;
        margin-bottom: 50px;
        margin-right: 50px;

        .h3__footer__form {
            font-size: 20px;
            margin-bottom: 11px;
            overflow-y: hidden;
        }
        
        .footer__input {
            padding: 17px;
            width: 70%;
            height: 15px;
            border: none;
        }

        .footer__btn {
            padding: 8px;
            margin-right: 18px;
            background-color: $secondaryColor;
            color: $terciaryColor;
            border: none;
        }
        
        .footer_a_icons, .fa-brands {
            color: $terciaryColor;
            @include m0-a;
            font-size: 24px;
            margin-right: 15px;
            margin-top: 15px;
        }
        
        .fa-brands {
            position: relative;
            left: 15%;
        }
    }
}

@media only screen and (max-width: 1168px) {
    footer {
        width: 100%;
        height: auto;
        @include flex-footer;
        flex-direction: column;
        background-color: $primaryColor;
        color: $terciaryColor;

        .footer__logotype {
            margin-right: 45px;

            .footer__logo {
                margin: 0;
            }
        }
    
        .footer__links, .footer__links2 {
            margin-right: 50px;
            margin-left: 50px;
            margin-bottom: 30px;
        }
    
        .footer__icons {
            position: relative;
            left: 5%;
        }
    }
 
}

@media screen and (max-width: 768px) {
    footer {
        .footer__icons {
            position: relative;
            left: 10%;

            .icons-icons {
                position: relative;
                left: 4%;
            }
        }
    }
}

