.ad__envios {
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 35px;
    background-color: $primaryColor;
    color: $terciaryColor;
    text-align: center;
    line-height: 20px;
    font-size: $fontP;
}

nav{
    background-color: $terciaryColor;
    width: 100%;
    height: 100px;

    .logo__img {
        width: 150px;
    }

    .nav-item__a { 
        font-size: $fontLinkN;
        color: $primaryColor;
    }
    
    .nav__links {
        margin-top: 40px;
    
        .items-container {
            display: flex;
            flex-direction: column;
        
            .fa-regular {
                font-size: 25px;
                position: absolute;
                bottom: 7%;
                left: 5.3%;
                padding: 7px;
            }
            
            .shopping-cart {
                width: 47px;
                position: absolute;
                bottom: 2%;
                left: 4%;
                padding: 10px;
            }
        }
    }

        .fa-solid {
            font-size: 20px;
            color: black;
        }

        .fa-bars {
            font-size: 25px;
            color: $primaryColor;

            &:hover {
                transition: all 300ms;
                transform: scale(1.1);
            }
        }
        
        .navbar-toggler:focus,
        .navbar-toggler:active, 
        .fa-bars:focus {
            outline: none;
            box-shadow: none;
        }
        
        .btn-close {
            position: absolute;
            right: 14%;
            top: 4%;
            font-size: 20px;
            color: $primaryColor;

            &:focus,
            &:active{
                box-shadow: none;
            }
        }
        
        .items-container {
            display: flex;
            flex-direction: column;
        }
        
        .fa-regular {
            font-size: 26px;
            position: absolute;
            bottom: 7%;
            left: 5.3%;
            padding: 7px;
        }
        
        .shopping-cart {
            width: 47px;
            position: absolute;
            bottom: 2%;
            left: 4%;
            padding: 10px;
        }

}

@media only screen and (max-width: 768px){
        .ad__envios {
            display: none;
        }

}




