.ad__envios {
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 35px;
    background-color: $primaryColor;
    color: $terciaryColor;
    @extend %center;
    line-height: 20px;
    font-size: $fontP;
}

nav{
    background-color: $terciaryColor;
    width: 100%;
    height: 100px;
    .logo__img {
        width: 150px;
    }

    .nav-item__a { 
        font-size: $fontLinkN;
        color: $primaryColor;
        font-size: 16px;

        &:hover {
            color: $primaryColor;
        }

        &::after {
            content: '';
            height: 3px;
            width: 0%;
            background-color: $secondaryColor;
            display: block;
            transition: .3s ease-in-out;
        }
        
        &:hover::after {
            content: '';
            height: 3px;
            width: 100%;
            background-color: $secondaryColor;
            display: block;
        }
    }
    
    .nav__links {
        margin-top: 40px;

        .items-container {
            @include display-flex-c;

            .fa-regular {
                font-size: 25px;
                position: absolute;
                bottom: 7%;
                left: 5.3%;
                padding: 7px;
            }
            
            .shopping-cart {
                width: 47px;
                position: absolute;
                bottom: 2%;
                left: 4%;
                padding: 10px;
            }
        }

        
    }

        .fa-solid {
            font-size: 20px;
            color: $primaryColor;
        }

        .fa-bars {
            font-size: 25px;
            color: $primaryColor;

            &:hover {
                transition: all 300ms;
                transform: scale(1.1);
            }
        
        }
        
        .btn-close {
            position: absolute;
            right: 14%;
            top: 4%;
            font-size: 20px;
            color: $primaryColor;
        }
    
}

@media only screen and (max-width: 768px){
        .ad__envios {
            display: none;
        }

}




