.principal{
    display: flex;
    position: relative;
    object-fit: cover;

    .p__img {
        width: 100%;
        background-color: rgb(31, 31, 31);
        filter: brightness(0.7); 
    }
}

.before_gallery_h2{
    align-items: center;
    text-align: center;
    margin: 50px;
    font-family: $fontPoppins;
    font-weight: bold;
    color: $primaryColor;
    text-transform: uppercase;
    font-size: 35px;
}

.gallery {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    gap: 15px;
    margin: 0 auto;
    margin-top: 40px;

    .gallery__img-img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
            transition: all 300ms;
            background-color: rgb(31, 31, 31);
            filter: brightness(0.6); 
        }
    }

    .gallery__img {
        width: 100%;
        grid-row: span 2;
        grid-column: span 1;
    }
    
    .gallery__img1 {
        grid-row: span 1;
    }
}



.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nosotros__h2 {
        text-align: center;
        margin: 10px;
        padding: 20px;
        font-size: $fonth2;
        font-weight: $fwb;
        color: $primaryColor;
        text-transform: uppercase;
    }
    
    .nosotros__p{
        margin: 0 auto;
        width: 55%;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .nosotros__btn {
        border: none;
        padding: 10px;
        background-color: $botonsPrimary;
        color: $terciaryColor;
        margin-bottom: 50px;

        &:hover {
            transition: all 300ms;
            transform: scale(1.1);
        }
    }
}

.last_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .last_h2 {
        font-size: $fonth2;
        margin: 20px;
    }
    
    .last_img {
        width: 40%;
    }
    
    .last_img-img{
        margin: 50px;
        margin-left: 45px;
        width: 100%;
    }
    
    .last_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: 50px;
        height: auto;

        .nosotros__a {
            text-decoration: none;
            color: $primaryColor;
            font-weight: bold;

            &:hover {
                transition: all 300ms;
                color: $secondaryColor;
            }
        }
    
    }
    
    .last_description_form {
        margin: 0 auto;
    }
    
    .last_description__btn {
        border: none;
        padding: 10px;
        background-color: $botonsPrimary;
        color: $terciaryColor;
        width: 100px;
        margin: 0px;
        margin: 0 auto;
        margin: 20px;
    }
    
    .last_description_input {
        width: 100%;
        border: 1px solid $primaryColor;
        outline: none;
        padding: 10px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    .p__img {
        background-size: cover;
        transition: all 300ms;
        width: 100%;
        height: 500px;
        object-fit: cover;
        background-size: center;
    }
}

@media only screen and (max-width:1200px) {
    .gallery {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 20px;
        gap: 15px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:950px){
    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 20px;
        gap: 15px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    .gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        gap: 30px;
    }

    .before_gallery_h2 {
        align-items: center;
        text-align: center;
        margin: 50px;
        font-family: $fontPoppins;
        text-transform: uppercase;
        font-size: 35px;
    }

    .img-1 {
        height: 350px;
    }
}

@media screen and (max-width: 1144px) {
    .last_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        
    .last_img {
        width: 86%;
        
    .last_img-img {
        margin: 0px;
        margin-top: 40px;
        width: 100%;
    }
    }

    .last_h2 {
        font-size: 20px;
    }

    .last_description {
        width: 80%;
    }

    }

}



