@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
/* bold 700 (title) */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

$fontHeebo: 'Heebo', sans-serif;
$fwb: bold;
$fonth1: 40px;
$fonth2: 35px;
$fonth3: 28px;
$fonth4: 22px;
$fontP: 13px;
$fontLinkN: 15px;
$fontLinkF: 17px;

/* colors */
$botonsPrimary: #ff0000;
$primaryColor: #000;
$secondaryColor: #ff0000;
$terciaryColor: #fff;
$footerColor: rgb(8, 8, 8);
$bgfilter: rgb(31, 31, 31);